.section {
  padding: 70px 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.title_1 {
  margin-bottom: 60px;

  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
}

/* Project details */

.projectDetails {
  margin: 0 auto;
  max-width: 865px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.projectDetailsCover {
  max-width: 100%;
  margin-bottom: 40px;

  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.projectDetailsDesc {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}
